


<div class="jumbotron">
<div class="form-group">
    <h1>Ingrese de Productos</h1>
    <form action="/api/productos/guardar" method="POST">
      Nombre: <input   class="form-control" type="text" name="title" /> Precio:
      <input   class="form-control" type="number" name="price" /> Foto URL:
      <input  class="form-control" type="text" name="thumbnail" />
      <button type="submit" class="btn btn-primary mt-5" >Enviar</button>
    </form>
</div>
</div>